/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/*------MY-CODE-------------------------*/

.start{
    z-index: 333;
    height: 100%;
}

.form-check-label{
    width: 100px;
    height: 100px;
    cursor: pointer;
    -webkit-box-shadow: 0px 10px 15px -4px rgba(0,0,0,0.05); 
    box-shadow: 0px 10px 15px -4px rgba(0,0,0,0.05);
    
}

#game{
    z-index:222;
    height: 100%;
}


#choice{
    transition: .3s;
}



#choice:hover {
    transition: .3s;
    position: relative;
    top: -10px;
    -webkit-box-shadow: 0px 10px 15px 0px rgba(71, 0, 165, 0.05);
    box-shadow: 0px 10px 15px 0px rgba(71, 0, 165, 0.05);

}

#comIcn{
    position: relative;
    animation: float 1s infinite;
}

@keyframes float{
    0%{
        top: 0px;
    }
    50%{
        top: -5px;
    }
    100%{
        top: 0px;
    }
}

#com{
    z-index:111;
    height: 100%;
}

.usertie{
    animation: usertie 1s linear forwards;
}

@keyframes usertie{
    0%{
        opacity: 1;
        left: 0;
    }
    50%{
        left: 35%;
        transform: rotate(-25deg);
    }
    100%{
        left: 25%;
        transform: rotate(-45deg);
        opacity: 0;
    }
}

.comtie{
    animation: comtie 1s linear forwards;
}

@keyframes comtie{
    0%{
        opacity: 1;
        right: 0;
    }
    50%{
        right: 35%;
        transform: rotate(25deg);
    }
    100%{
        right: 25%;
        
        opacity: 0;
        transform: rotate(45deg);
    }
}

.userwin{
    animation: userwin 1s linear forwards;
}

@keyframes userwin {
    0%{
        opacity: 1;
        left: 0;
    }
    100%{
        left: 42.3%;
    }
    }

    .comwin{
        animation: comwin 1s linear forwards;
    }
    
    @keyframes comwin {
        0%{
            opacity: 1;
            right: 0;
        }
        100%{
            right: 42.3%;
        }
        }



.results{
    width:100%;
    height: 100%;
    background: rgba(247, 247, 247, 0.712);
    z-index:666;
    top: 106px;
    display: none;
}

#next, #restart{
    z-index:777;
}